:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 14px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.katex {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: KaTeX_main;
}

code {
  font-family: KaTeX_Typewriter;
}

h1 {
  text-align: center;
}



h2, h3, h4, h5, h6 {
  margin-top: 2vh;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1.1rem;
}

h1 {
  margin: 1vh 0;
  margin-bottom: 5vh;
  font-size: 1.3rem;
}

main {
  padding: 5vw;
}

article {
  margin: 2vh 5vw;
  padding: 5vh 15vw;
  padding-bottom: 15vw;
}

p {
  margin-bottom: 2vh;
}


a {
  color: inherit;
  text-decoration: none;
}

ol {
  list-style:decimal;
  margin: 5px 5vw;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
