@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ededed; */
  /* --background: #fafaf3; */
  --background: #ffffff;
  --foreground: #171717;
  --blockquote-bg: rgb(227, 227, 227);
  /* --red: tomato; */
  --red: rgb(221, 115, 115);
  /* --blue: dodgerblue; */
  --blue: rgb(89, 150, 194);
  /* --green: yellowgreen; */
  --green: rgb(119, 175, 140);
  --orange: rgb(220, 185, 113);
  --grey: rgb(117, 117, 117);
  --pencil: rgb(138, 138, 138);
  /* --lightgrey: #B2BEB5; */
  --lightgrey: #c3c3c3;
  /* --dimgrey: rgb(184, 199, 188); */
  --dimgrey: rgb(174, 174, 174);
  /* --purple: rgb(232, 100, 232); */
  --purple: rgb(66, 66, 66);
  --code-bg: rgb(219, 219, 219);
  --aside-color: #7a7a7a;
  --peach: rgb(65, 65, 65);
  --mocha: rgb(87, 87, 87);
  --brightBlue: rgb(44, 44, 44);
  --latte: rgb(73, 73, 73);
  --brighPink: rgb(32, 32, 32);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2a2a;
    --foreground: #ededed;
    --blockquote-bg: rgb(60, 60, 60);
    --grey: rgb(129, 129, 129);
    --red: tomato;
    --blue: cyan;
    --green: rgb(155, 255, 133);
    --orange: rgb(255, 188, 62);
    --purple: violet;
    --dimgrey: rgb(110, 110, 110);
    --lightgrey: #6a726c;
    --code-bg: rgb(55, 55, 55);
    --aside-color: #62f6f6;
    --peach: rgb(237, 161, 126);
    --mocha: rgb(195, 147, 128);
    --brightBlue: rgb(109, 197, 200);
    --latte: rgb(207, 175, 159);
    --brighPink: rgb(249, 107, 107);
  }
} */

@font-face {
  font-family: "tp";
  src: url("./fonts/tp-reg.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tp";
  src: url("./fonts/tp-ita.woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "tp";
  src: url("./fonts/tp-bold.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ftb";
  src: url("./fonts/ftb.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "fira";
  src: url("./fonts/FiraCode-VF.woff");
}

html {
  font-size: 13px;
}


@media (min-width: 300px) and (max-width: 750px) {
  html {
    font-size: 13px;
  }
}


/* li {
  margin-top: 1rem;
  margin-bottom: 1rem;
} */
@media (max-width: 450px) {
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
}


.katex {
  font-size: inherit;
}
.katex-display {
  margin: 0.8em 0;
}

ol, ul {
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "tp";
  /* font-family: KaTeX_main; */
  padding: 1vh 5vw;
  overscroll-behavior-x: none;
}

pre,
code {
  /* font-family: monospace; */
  font-family: "fira";
  font-size: .85rem;
}

h1 code, h2 code, h3 code,
h4 code, h5 code, h6 code {
  font-size: 1rem;
}

textarea {
  width: 100%;
}

figure.table {
  overflow-x: scroll;
  width: 95%;
  border: solid thin lightgrey;
}

.repl {
  font-family: monospace;
  font-weight: bold;
  color: var(--foreground);
  border-radius: 4px;
  background-color: var(--code-bg);
  overflow: hidden;
}

pre {
  padding: 0.8rem;
  border-radius: 0.2em;
  overflow-x: scroll;
  background-color: var(--code-bg);
  color: var(--foreground);
}

.hljs-comment {
  color: var(--grey);
}
.hljs-keyword {
  color: var(--brighPink);
  font-weight: bold;
}
.hljs-attr,
.hljs-property {
  color: var(--latte);
}

.hljs-built_in {
  color: var(--brightBlue);
}

.hljs-number,
.hljs-string {
  color: var(--mocha);
  /* color: rgb(231, 188, 95); */
}

.function_ {
  color: var(--peach);
  font-weight: bold;
}

p {
  margin: 10px 0;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}

h1 {
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.repl {
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: ftb;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-size: 1.1rem;
} 

th {
  font-size: 0.9rem;
}

table,
th,
td {
  margin: auto;
  width: fit-content;
}

table {
  margin-top: 5px;
  margin-bottom: 5px;
}

table p {
  margin: 0;
}

th {
  text-align: center;
}

table td {
  padding: 1px 5px;
}

table {
  border-collapse: collapse;
}
table td {
  border: solid thin lightgray; 
  border-bottom: solid thin lightgrey;
}
table th {
  border-bottom: solid thin lightgrey;
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2vh;
  margin-bottom: 0;
}

h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

h2 + ul > li,
h2 + ol > li,
h3 + ul > li,
h3 + ol > li,
h4 + ul > li,
h4 + ol > li,
h5 + ul > li,
h5 + ol > li,
h6 + ul > li,
h6 + ol > li {
  margin-top: 0;
}

blockquote {
  padding: 5px 10px;
  width: 93%;
  /* border-left: solid 2px rgb(188, 188, 188); */
  margin: 1vh auto;
  background-color: var(--blockquote-bg);
  border-radius: 5px;
}

blockquote p {
  margin: 0;
}

figcaption {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--aside-color);
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

figcaption p {
  margin: 5px 0;
}

textarea {
  outline: none;
}

ul {
  list-style: disc;
  margin-left: 20px;
}
ol {
  list-style: decimal;
  margin-left: 20px;
}

ul ul {
  list-style: circle;
}

article {
  width: clamp(300px, 70%, 600px);
  margin: 0 auto;
  margin-bottom: 10vh;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

footer {
  display: block;
  width: fit-content;
  margin: 3vh auto;
  color: lightgray;
}

figure {
  width: 100%;
  margin: 5px auto;
}

strong em {
  font-variant: small-caps;
  font-weight: bold;
  font-style: normal;
  font-size: 1.1rem;
}

del {
  font-variant: small-caps;
  text-decoration: none;
}

aside {
  color: var(--grey);
  font-size: 90%;
  position: relative;
  border-top: thin solid var(--grey);
  border-bottom: thin solid var(--grey);
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.article-main ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


.article-main .main-toc li {counter-increment: part;        counter-reset: subpart;}
.article-main .main-toc li li {counter-increment: subpart;     counter-reset: chapter;}
.article-main .main-toc li li li {counter-increment: chapter;     counter-reset: module;}
.article-main .main-toc li li li li {counter-increment: module;      counter-reset: submodule;}
.article-main .main-toc li li li li li {counter-increment: submodule;   counter-reset: submodule;}
.article-main .main-toc li::before { content: counter(part) "\00a0" "\00a0"; }
.article-main .main-toc li li::before { content: counter(part) "." counter(subpart) "\00a0" "\00a0"; }
.article-main .main-toc li li li::before { content: counter(part) "." counter(subpart) "." counter(chapter) "\00a0" "\00a0"; }
.article-main .main-toc li li li li::before { content: counter(part) "." counter(subpart) "." counter(chapter) "." counter(module) "\00a0" "\00a0"; }
.article-main .main-toc li li li li li::before { content: counter(part) "." counter(subpart) "." counter(chapter) "." counter(module) "." counter(submodule) "\00a0" "\00a0"; }

aside p {
  margin: 1vh 0;
}
li p {
  margin: 0;
}

.toc {
  border-top: solid thin var(--pencil);
  border-bottom: solid thin var(--pencil);
  padding-top: 5px;
  padding-bottom: 10px;
}

.toc ul {
  margin: 0;
  padding: 0;
}

.toc li {
  margin: 0;
}
.toc .heading {
  font-weight: bold;
  display: block;
}


.toc li {counter-increment: part;        counter-reset: subpart;}
.toc li li {counter-increment: subpart;     counter-reset: chapter;}
.toc li li li {counter-increment: chapter;     counter-reset: module;}
.toc li li li li {counter-increment: module;      counter-reset: submodule;}
.toc li li li li li {counter-increment: submodule;   counter-reset: submodule;}
.toc li::before { content: counter(part) "\00a0" "\00a0"; }
.toc li li::before { content: counter(part) "." counter(subpart) "\00a0" "\00a0"; }
.toc li li li::before { content: counter(part) "." counter(subpart) "." counter(chapter) "\00a0" "\00a0"; }
.toc li li li li::before { content: counter(part) "." counter(subpart) "." counter(chapter) "." counter(module) "\00a0" "\00a0"; }
.toc li li li li li::before { content: counter(part) "." counter(subpart) "." counter(chapter) "." counter(module) "." counter(submodule) "\00a0" "\00a0"; }

h2 {counter-increment: part;        counter-reset: subpart;}
h3 {counter-increment: subpart;     counter-reset: chapter;}
h4 {counter-increment: chapter;     counter-reset: module;}
h5 {counter-increment: module;      counter-reset: submodule;}
h6 {counter-increment: submodule;   counter-reset: submodule;}
h2::before { content: counter(part) "\00a0" "\00a0" "\00a0"; }
h3::before { content: counter(part) "." counter(subpart) "\00a0" "\00a0" "\00a0"; }
h4::before { content: counter(part) "." counter(subpart) "." counter(chapter) "\00a0" "\00a0" "\00a0"; }
h5::before { content: counter(part) "." counter(subpart) "." counter(chapter) "." counter(module) "\00a0" "\00a0" "\00a0"; }
h6::before { content: counter(part) "." counter(subpart) "." counter(chapter) "." counter(module) "." counter(submodule) "\00a0" "\00a0" "\00a0"; }

a {
  color: inherit;
  border-bottom: 1px dotted var(--grey);
  display: inline-block;
  padding-bottom: 0px;
  background-image: linear-gradient(var(--grey) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}
a:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 1px;
}

.toc a {
  text-decoration: none;
  border-bottom: none;
  color: inherit;
}

.toc {
  padding-left: 5px;
}

.toc h2 {
  margin: 0;
}

.toc ul {
  list-style: none;
  margin: 0;
}


.algebron-fig > div {
  font-family: KaTeX_main;
}

@media (max-width: 500px) {
  html {
    font-size: 11px;
  }
}

/* Wide viewport */
@media (min-width: 1000px) {
  aside {
    float: right;
    clear: right;
    margin-right: -15vw;
    text-align: left;
    top: 3rem;
    width: 14vw;
    margin-top: 1rem;
  }
  article {
    margin-left: 20vw;
    /* width: 80%; */
  }
  .article-main {
    margin: 0 auto;
  }
  .toc {
    background-color: var(--background);
    z-index: 100;
    position: fixed;
    float: left;
    margin-left: -24.5vw;
    margin-top: -12vh;
    border-right: thin solid var(--blockquote-bg);
    height: 97vh;
    padding: 1vh 0.5vw;
    width: 22vw;
    border-top: none;
    border-bottom: none;
  }
  .toc > ul {
    border-top: thin solid var(--blockquote-bg);
    height: 90vh;
    padding-bottom: 5vh;
    overflow-y: scroll;
    margin-left: 0;
  }
  .toc ul ul,
  .toc ul ul ul {
    list-style: none;
    margin: 0;
    margin-right: 0;
  }
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  /* width: 100%; */
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  /*  overflow: hidden;  remove this line*/

  /* New additions */
  height: 1px;
  background: #a1a1a1;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 8px;
  width: 8px;
  background-color: var(--red);
  border-radius: 50%;
  border: none;
}

.live-demo {
  /* border: 1px solid grey; */
  padding: 5px;
  /* width: 80%; */
  margin: 5px auto;
}
.demo-control {
  padding: 5px 10px;
  font-size: 0.9rem;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background-color: var(--red);
  border-radius: 50%;
  border: none;
}

div.procedure {
  counter-reset: lineNumber -1;
  border-top: solid thin lightgray;
  border-bottom: solid thin lightgray;
  padding: 0 0 0 0;
  margin: 1em 1.5em;
  overflow-y: scroll;
}

div.procedure blockquote {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  border-bottom: solid thin lightgray;
}
div.procedure pre {
  margin: 0;
  border-top: 0;
  border-bottom: 0;
}
/* div.procedure small { font-size: 1.1em; } */
div.procedure p {
  font-size: inherit;
  padding: 0;
  margin: 0;
}
div.procedure ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
div.procedure ol li {
  margin: 0;
  padding: 0;
  display: block;
}
div.procedure ol li::before {
  content: counter(lineNumber);
  counter-increment: lineNumber;
  font-family: KaTeX_Main;
  position: relative;
  display: inline-block;
  min-width: 10px;
}
div.procedure ol ol {
  border-left: solid thin rgb(226, 226, 226);
}
div.procedure ol {
  margin-left: 1rem;
}
div.procedure li em {
  color: rgb(146, 171, 182);
  font-style: italic;
  font-size: 0.75rem;
  display: inline;
  text-align: left;
  line-height: 1.3rem;
  width: max-content;
  margin: 0;
  padding: 0;
  float: right;
}

.warning {
  display: block;
  float: left;
  clear: right;
  position: relative;
  margin-left: -1.5em;
  font-size: 1.2rem;
}

div.procedure ol li::before {
  right: 1rem;
}
div.procedure ol li li::before {
  right: 2.1rem;
}
div.procedure ol li li li::before {
  right: 3.1rem;
}
div.procedure ol li li li li::before {
  right: 4.2rem;
}
div.procedure ol li li li li li::before {
  right: 5.1rem;
}
div.procedure ol li li li li li li::before {
  right: 6.1rem;
}
div.procedure > ol {
  margin-top: 4px;
  margin-bottom: 4px;
  /* margin-left: 1em; */
}
div.procedure ul {
  list-style: none;
}
div.procedure ul {
  padding: 0;
  margin: 0;
}
div.procedure ul li {
  padding: 0;
  margin: 0;
}
div.procedure ul ul {
  padding: 0 1em;
  margin: 0;
}
/* div.procedure p:first-child span.textup {font-weight: 600;} */
/* div.procedure p:first-child {font-variant: small-caps;} */
div.procedure p:first-child {
  padding: 2px 0;
  margin-bottom: 5px;
  /* border-bottom: solid thin lightgrey; */
  font-size: 1em;
}
div.procedure li > p {
  display: inline !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0 !important;
}

details {
  border-left: solid 3px rgb(222, 222, 222);
  border-radius: 2px;
  /* padding: 0px 8px; */
  padding-left: 8px;
  /* background-color: rgb(228, 228, 228); */
}

.ident {
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: -10px;
  font-family: "ftb";
}

#operator_table td {
  width: fit-content;
}

#operator_table td:nth-child(1) {
  text-align: center;
  font-family: monospace;
}
#operator_table td:nth-child(1) code {
  font-family: monospace;
}
#operator_table pre {
  margin: 0;
  padding: 0px;
  background-color: var(--background);
  overflow-x: scroll;
  max-width: 50%;
}

div.example {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 10px;
  margin: 10px 0;
  /* background-color: rgb(224, 224, 224);
  padding: 2px 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px; */
}

div.example-title {
  font-variant: small-caps;
  font-weight: bold;
  /* border: solid thin lightgrey; */
  font-size: 1rem;
}

div.example-body {
  padding: 1px 5px;
  border-left: solid 3px var(--lightgrey);
}

div.example p:first-child {
  margin: 0;
}